<section class="tk-list">
  <h3>
    Project: 
    <ng-container *ngIf="project | async as project else loading">{{project.title}}</ng-container>
  </h3>
  <div *ngIf="project | async as project else loading">
    <table>
      <tr><td>Title</td><td>{{project.title}}</td></tr>
      <tr><td>Description</td><td>{{project.description}}</td></tr>
      <tr><td>State</td><td>{{project.state}}</td></tr>
    </table>
    <ng-template #noItems>No Items!</ng-template>
  </div>
  <ng-template #loading>
    <p-progressSpinner></p-progressSpinner>
  </ng-template> 
</section>
<ng-template #loading>Loading ...<p-progressSpinner></p-progressSpinner></ng-template>