<main>
  <div class="content">
  <ng-content *ngFor="let item of widgets;
                      index as i;
                      let isRegion=even;
                      let nextRow=false">

    <ng-content *ngIf="nextRow; then rowRegion; else rowFiller"></ng-content>
    <ng-template #rowRegion><tk-widget-region class="row" [directions]="['bottom']" [rFlex]="true"></tk-widget-region></ng-template>
    <ng-template #rowFiller><div class="row"></ng-template>

      <ng-content *ngIf="isRegion; then Region; else DivTag"></ng-content>
      <ng-content *ngIf="isRegion;"></ng-content><tk-widget-region class="section" id="one" [directions]="['right']" [rFlex]="true">
      <ng-content *ngIf="!isRegion;"><div class="section" id="two">

        <tk-widget [widget]="widget[i]" [dataStream]="dataStream"></tk-widget>

      <ng-content *ngIf="!isRegion;"></tk-widget-region>
      <ng-content *ngIf="isRegion;"></div>

    <ng-content *ngIf="nextRow; then rowRegionClose; else rowFillerClose"></ng-content>
    <ng-template #rowRegionClose></tk-widget-region>
    <ng-template #rowFillerClose></div>

  </ng-content>
  </div>
</main>


<!-- <button pButton type="text" (click)="addWidget('info')" icon="pi pi-arrow-right">Add Widget Info</button> -->
<!-- <tk-widget *ngFor="let widget of widgets" [widget]="widget" [dataStream]="dataStream"></tk-widget> -->
