<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Angular</title>
	<link rel="stylesheet" href="css/test-angular.css" />
</head>
<body>
<div ng-app="TADkit">

  <div ng-controller="TrackController">
	<input type="text" ng-model="data.message">
  	<h1>{{data.message}}</h1>
  </div>
  
  <div ng-controller="ThreeController">
	<input type="text" ng-model="data.message">
	<h1>{{data.message}}</h1>
  </div>
  
  <script src="../bower_components/react/react.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/d3/d3.min.js"></script>
  <script src="js/test-angular.js"></script>
</div>
</body>
</html>