@import './tk-widget-resizable.component.scss';

:host {
	display: flex;
	height: 100%;
	overflow: hidden;
	background: #f0f0f0;
}
.content {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: space-around;
	padding: $spacing/2;
}
.row {
	min-height: 50px;
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: space-around;
	&.resizable {
        flex: 0 0 300px;
    }
}
.section {
	box-sizing: border-box;
	border-radius: 0px;
	padding: 1.25em 1.75em;
	background: #fff;
	border: $spacing/2 solid #f0f0f0;
	flex: 1;
	min-width: 30px;
	&.resizable {
        flex: 0 0 300px;
    }
}
  