<div class="content">
	<tk-widget-region class="row" [directions]="['bottom']" [rFlex]="true">
		<tk-widget-region class="section" id="one" [directions]="['right']" [rFlex]="true">
			<p>Spatial</p>
		</tk-widget-region>
		<div class="section" id="two">
			<p>Info</p>
		</div>
	</tk-widget-region>
	<div class="row">
		<tk-widget-region class="section" id="three" [directions]="['right']" [rFlex]="true">
			<p>Matrix</p>
		</tk-widget-region>
		<div class="section" id="four">
			<p>Tracks</p>
		</div>
	</div>
</div>

<!-- <button pButton type="text" (click)="addWidget('info')" icon="pi pi-arrow-right">Add Widget Info</button> -->
<!-- <tk-widget *ngFor="let widget of widgets" [widget]="widget" [dataStream]="dataStream"></tk-widget> -->
