<div ng-controller='PanelInspectorController' class="component-controller">
	<div class="component-header">
	</div>
	<div class="component-body">
		<div width="{{width}}" height="{{height}}" style="width:{{width}}px; height:{{height}}px;padding:0px; border:1px solid lightgray; line-height: normal;">
			<md-content>
		        <md-content class="md-padding" ng-show="!(settings.current.markers_position[1]>0 && interactionDistance()>0)">
					<span>Click on the interaction matrix to display details</span>
				</md-content>
		    	<md-content class="md-padding" ng-show="settings.current.markers_position[1]>0 && interactionDistance()>0">
					<span class="feature-title">Distance of interaction: </span><span class="">{{interactionDistance()}} nm</span>
				</md-content>
			 	<md-content class="md-padding" ng-repeat="tdata in data.track_data">
			 		<p class="feature-title">{{tdata.track_name}}</p>
			 		 <div layout="row" layout-align="left start">
					  <div ng-show="settings.current.markers_position[1]>0" layout-align="center start" style="width:100%">
					    <div class="feature-column-header">Left marker<br>{{settings.current.markers_chr[1]}}:{{(settings.current.markers_position[1]| number:0)}}</div>
					    <div class="feature-column-body">
							<div ng-repeat="feature in tdata.feature | filter:atLeftPosition" style="display:inline-block">
							  <span class="">{{featureTitle(feature)}}</span>
							  <button class="md-icon-button md-button md-default-theme" ng-click="getDetails(feature, $event)" tabindex="0">
								<md-icon class="icon-info-outline md-hue-3" aria-label="Get Details"></md-icon>
								</button>
							</div>
						</div>
					  </div>
					  <div layout-align="left start" style="width:100%">
					    <div class="feature-column-header">Features at position<br>{{settings.current.chrom}}:{{(settings.current.position| number:0)}}</div>
					    <div class="feature-column-body">
							<div ng-repeat="feature in tdata.feature | filter:atPosition" style="display:inline-block">
							  <span class="">{{featureTitle(feature)}}</span>
							  <button class="md-icon-button md-button md-default-theme" ng-click="getDetails(feature, $event)" tabindex="0">
								<md-icon class="icon-info-outline md-hue-3" aria-label="Get Details"></md-icon>
								</button>
							</div>
						</div>
					  </div>
					  <div ng-show="settings.current.markers_position[0]>0" layout-align="left start" style="width:100%">
					    <div class="feature-column-header">Right marker<br>{{settings.current.markers_chr[0]}}:{{(settings.current.markers_position[0]| number:0)}}</div>
					    <div class="feature-column-body">
							<div ng-repeat="feature in tdata.feature | filter:atRightPosition" style="display:inline-block">
							  <span class="">{{featureTitle(feature)}}</span>
							  <button class="md-icon-button md-button md-default-theme" ng-click="getDetails(feature, $event)" tabindex="0">
								<md-icon class="icon-info-outline md-hue-3" aria-label="Get Details"></md-icon>
								</button>
							</div>
						</div>
					  </div>
					</div> 
			  </md-content>
		</div>
	</div>
</div>


