/* React Styling */
.trackholder {
/*	background: red;*/
	min-height: 2rem;
}
.trackholder h4 {
	font-size: 1.0rem;
	margin: 0.2rem  0.5rem 0.5rem;
}
track {
	display: block;
/*	background: blue;*/
}



/* D3 Style */
svg {
	font: 0.7rem sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.axis text { fill: #5c6; }
.brush .extent {
	stroke: #;
	fill-opacity: .25;
	shape-rendering: crispEdges;
}
.focus {
	fill: hsla(120,50%,50%,0.4);
}
.context {
	fill: hsla(120,50%,50%,0.4);
}


