/* CSS declarations go here */
#wrapper {
}

svg {
	font: 10px sans-serif;
}

circle {
	-webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
	fill-opacity: .2;
}

.selecting circle.selected {
	stroke: #f00;
}

.resize path {
	fill: #666;
	fill-opacity: .8;
	stroke: #000;
	stroke-width: 1.5px;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}
.focus {
	fill: hsla(120,50%,50%,0.4);
}
.context {
	fill: hsla(120,50%,50%,0.4);
}


