<section class="tk-form">
  <h3>Create New Project:</h3>
  <form novalidate [formGroup]="projectForm" (ngSubmit)="addProject()" class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
    <label>Project Title:</label>
    <input type="text" formControlName="title">
    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
    <label>Description:</label>
    <input type="text" formControlName="description">
    <button pButton type="submit" icon="pi pi-check" iconPos="left" label="Submit"></button>
  </form>
</section>