a.md-button.md-fab,.md-button.md-fab {
	border-radius:50%;
	background-color:#ff5252;
	color:#fff
}

a.md-button.md-fab md-icon,.md-button.md-fab md-icon {
	color:#fff
}

a.md-button.md-fab:not([disabled]):hover,.md-button.md-fab:not([disabled]):hover {
	background-color:#ff5252
}

a.md-button.md-fab:not([disabled]).md-focused,.md-button.md-fab:not([disabled]).md-focused {
	background-color:#d50000
}

a.md-button.md-fab,.md-button.md-fab {
	border-radius:50%;
	background-color:#ff5252;
	color:#fff
}

a.md-button.md-fab:not([disabled]) .md-icon,.md-button.md-fab:not([disabled]) .md-icon {
	color:#fff
}

a.md-button.md-fab:not([disabled]):hover,.md-button.md-fab:not([disabled]):hover {
	background-color:#ff5252
}

a.md-button.md-fab:not([disabled]).md-focused,.md-button.md-fab:not([disabled]).md-focused {
	background-color:#d50000
}

a.md-button.md-accent,.md-button.md-accent {
	color:#ff5252
}

a.md-button.md-accent.md-raised,a.md-button.md-accent.md-fab,.md-button.md-accent.md-raised,.md-button.md-accent.md-fab {
	color:#fff;
	background-color:#ff5252
}

a.md-button.md-accent.md-raised:not([disabled]) md-icon,a.md-button.md-accent.md-fab:not([disabled]) md-icon,.md-button.md-accent.md-raised:not([disabled]) md-icon,.md-button.md-accent.md-fab:not([disabled]) md-icon {
	color:#fff
}

a.md-button.md-accent.md-raised:not([disabled]):hover,a.md-button.md-accent.md-fab:not([disabled]):hover,.md-button.md-accent.md-raised:not([disabled]):hover,.md-button.md-accent.md-fab:not([disabled]):hover {
	background-color:#ff5252
}

a.md-button.md-accent.md-raised:not([disabled]).md-focused,a.md-button.md-accent.md-fab:not([disabled]).md-focused,.md-button.md-accent.md-raised:not([disabled]).md-focused,.md-button.md-accent.md-fab:not([disabled]).md-focused {
	background-color:#d32f2f
}

a.md-button.md-accent:not([disabled]) md-icon,.md-button.md-accent:not([disabled]) md-icon {
	color:#ff5252
}

a.md-button[disabled],a.md-button.md-raised[disabled],a.md-button.md-fab[disabled],a.md-button.md-accent[disabled],a.md-button.md-warn[disabled],.md-button[disabled],.md-button.md-raised[disabled],.md-button.md-fab[disabled],.md-button.md-accent[disabled],.md-button.md-warn[disabled] {
	color:rgba(0,0,0,0.26);
	cursor:not-allowed
}

a.md-button[disabled] md-icon,a.md-button.md-raised[disabled] md-icon,a.md-button.md-fab[disabled] md-icon,a.md-button.md-accent[disabled] md-icon,a.md-button.md-warn[disabled] md-icon,.md-button[disabled] md-icon,.md-button.md-raised[disabled] md-icon,.md-button.md-fab[disabled] md-icon,.md-button.md-accent[disabled] md-icon,.md-button.md-warn[disabled] md-icon {
	color:rgba(0,0,0,0.26)
}

md-checkbox .md-ripple {
	color:#e53935
}

md-checkbox.md-checked.md-focused .md-container:before {
	background-color:rgba(255,82,82,0.26)
}

md-checkbox.md-checked .md-icon {
	background-color:rgba(255,82,82,0.87)
}

md-icon.md-accent {
	color:#ff5252
}

md-list md-list-item > md-icon.md-highlight.md-accent {
	color:#ff5252
}

md-input-container:not(.md-input-invalid).md-input-focused.md-accent .md-input {
	border-color:#f44336
}

md-input-container:not(.md-input-invalid).md-input-focused.md-accent label {
	color:#f44336
}

md-progress-circular.md-accent .md-inner .md-gap {
	border-top-color:#ff5252;
	border-bottom-color:#ff5252
}

md-progress-circular.md-accent .md-inner .md-left .md-half-circle,md-progress-circular.md-accent .md-inner .md-right .md-half-circle {
	border-top-color:#ff5252
}

md-progress-circular.md-accent .md-inner .md-right .md-half-circle {
	border-right-color:#ff5252
}

md-progress-circular.md-accent .md-inner .md-left .md-half-circle {
	border-left-color:#ff5252
}

md-progress-linear.md-accent .md-container {
	background-color:#ffcdd2
}

md-progress-linear.md-accent .md-bar {
	background-color:#ff5252
}

md-progress-linear[md-mode=buffer].md-accent .md-bar1 {
	background-color:#ffcdd2
}

md-progress-linear[md-mode=buffer].md-accent .md-dashed:before {
	background:radial-gradient(#ffcdd2 0%,#ffcdd2 16%,transparent 42%)
}

md-radio-button .md-on {
	background-color:rgba(255,82,82,0.87)
}

md-radio-button.md-checked .md-off {
	border-color:rgba(255,82,82,0.87)
}

md-radio-button.md-checked .md-ink-ripple {
	color:rgba(255,82,82,0.87)
}

md-radio-button .md-container .md-ripple {
	color:#e53935
}

md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
	background-color:rgba(255,82,82,0.26)
}

md-select:not([disabled]):focus.md-accent .md-select-label {
	border-bottom-color:#ff5252
}

md-select-menu md-option[selected].md-accent {
	color:#f44336
}

md-select-menu md-option[selected].md-accent:focus {
	color:#e53935
}

md-slider .md-track.md-track-fill {
	background-color:#ff5252
}

md-slider .md-thumb:after {
	border-color:#ff5252;
	background-color:#ff5252
}

md-slider .md-sign {
	background-color:#ff5252
}

md-slider .md-sign:after {
	border-top-color:#ff5252
}

md-slider .md-thumb-text {
	color:#fff
}

.md-subheader.md-accent {
	color:#ff5252
}

md-switch.md-checked .md-thumb {
	background-color:#ff5252
}

md-switch.md-checked .md-bar {
	background-color:rgba(255,82,82,0.5)
}

md-switch.md-checked.md-focused .md-thumb:before {
	background-color:rgba(255,82,82,0.26)
}

md-tabs md-ink-bar {
	color:#ff5252;
	background:#ff5252
}

md-tabs .md-tab .md-ripple-container {
	color:#ffcdd2
}

md-tabs.md-accent md-tabs-wrapper {
	background-color:#ff5252
}

md-tabs.md-accent md-tab-item:not([disabled]) {
	color:#ffcdd2
}

md-tabs.md-accent md-tab-item:not([disabled]).md-active,md-tabs.md-accent md-tab-item:not([disabled]).md-focused {
	color:#fff
}

md-tabs.md-accent md-tab-item:not([disabled]).md-focused {
	background:rgba(255,255,255,0.1)
}

md-tabs.md-accent md-ink-bar {
	color:rgba(1,89,162,1);
	background:rgba(1,89,162,1)
}

md-toolbar.md-accent > md-tabs md-tabs-wrapper {
	background-color:#ff5252
}

md-toolbar.md-accent > md-tabs md-tab-item:not([disabled]) {
	color:#ffcdd2
}

md-toolbar.md-accent > md-tabs md-tab-item:not([disabled]).md-active,md-toolbar.md-accent > md-tabs md-tab-item:not([disabled]).md-focused {
	color:#fff
}

md-toolbar.md-accent > md-tabs md-tab-item:not([disabled]).md-focused {
	background:rgba(255,255,255,0.1)
}

md-toolbar.md-accent > md-tabs md-ink-bar {
	color:rgba(1,89,162,1);
	background:rgba(1,89,162,1)
}

md-toast .md-button.md-highlight.md-accent {
	color:#ff5252
}

md-toolbar.md-accent {
	background-color:#ff5252;
	color:#fff
}