/* PACKERY */

.component-container {
  width: 100%;
  /*border: 1px solid #d1d1d1;*/
  /* clearfix */
}
.component-container .gutter-sizer {
  width: 2%;
  display: none;
}
.component-container .component-container:after {
  content: ' ';
  display: block;
  clear: both;
}
.component-container .component-controller, .component-container .component-sizer {
  height: 200px;
  width: 100%;
  /*border: 1px solid #eaeaea;*/
  /*background-color: #c4c4c4;*/
}
.component-container .component-controller {
  float: left;
}
.component-container .component.wide {
  width: 50%;
}
.component-container .component:hover {
  /*background-color: #bfbfbf;*/
  cursor: move;
}
.component-container .component.is-dragging {
  z-index: 2;
}
.component-handle {
	width: 120px;
	height: 20px;
	/*background: red;*/
}
