/* TADkit TYPOGRAPHY Stylesheet
 * Used in Tracks
 * separated as not recognized by SASS parser
 */
 @font-face {
	font-family: 'tadkit';
	src:url('../fonts/tadkit.eot?-d942yg');
	src:url('../fonts/tadkit.eot?#iefix-d942yg') format('embedded-opentype'),
		url('../fonts/tadkit.woff?-d942yg') format('woff'),
		url('../fonts/tadkit.ttf?-d942yg') format('truetype'),
		url('../fonts/tadkit.svg?-d942yg#tadkit') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'tadkit';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
md-icon {
  font-size: 24px;
}
.md-icon-sm {
  font-size: 12px;
}

/* IcoMoon code <md-icon> classes */

.icon-exit-to-app:before {
	content: "\e60f";
}

.icon-info:before {
	content: "\e617";
}

.icon-info-outline:before {
	content: "\e618";
}

.icon-input:before {
	content: "\e60e";
}

.icon-open-in-browser:before {
	content: "\e600";
}

.icon-perm-identity:before {
	content: "\e605";
}

.icon-search:before {
	content: "\e601";
}

.icon-settings:before {
	content: "\e602";
}

.icon-swap-horiz:before {
	content: "\e60b";
}

.icon-view-carousel:before {
	content: "\e606";
}

.icon-view-module:before {
	content: "\e607";
}

.icon-fast-forward:before {
	content: "\e60c";
}

.icon-fast-rewind:before {
	content: "\e60d";
}

.icon-pause:before {
	content: "\e608";
}

.icon-play-arrow:before {
	content: "\e609";
}

.icon-add:before {
	content: "\e603";
}

.icon-clear:before {
	content: "\e604";
}

.icon-cloud-download:before {
	content: "\e610";
}

.icon-file-upload:before {
	content: "\e611";
}

.icon-keyboard-arrow-left:before {
	content: "\e60a";
}

.icon-keyboard-arrow-right:before {
    content: "\e61a";
}

.icon-keyboard-backspace:before {
	content: "\e612";
}

.icon-check-box:before {
	content: "\e613";
}

.icon-check-box-outline-blank:before {
	content: "\e614";
}

.icon-radio-button-off:before {
	content: "\e615";
}

.icon-radio-button-on:before {
	content: "\e616";
}
