/* TADkit SVG Stylesheet
 * Used in Tracks
 * separated as not recognized by SASS parser
 */

svg {
	font: 0.7rem sans-serif;
	max-height: 100%; /* Webkit height error fix */
}
.axis path,
.axis line {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}
.axis text { fill: #999; }
.brush .extent {
	stroke: #;
	fill-opacity: .25;
	shape-rendering: crispEdges;
}
/* track-slider */
.track-slider .axis path {}
.track-slider .background {
	cursor: n-resize !important;
}
.track-slider .handle {
	fill: #fff;
	stroke: #ccc;
	stroke-width: 2;
	cursor: col-resize;
}
.track-slider .axis text, .track-slider .axis line {}

/* track-genes */
.track-genes .axis path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}

#highlight {
	fill: none;
	stroke: #f00;
	stroke-width: 1px;
}
/* wiggle_0 */
.wiggle_0 {
	margin-top: -4px !important;
}
.wiggle_0 .component-header {
	/*margin: 0;*/
}
.wiggle_0 .component-body {
	font-size: 0.2rem;
}
#highlight.highlight-follow {
	fill: #999;
	stroke: #fff;
	stroke-width: 0px;
}

.lower-tracks {
	margin-top: 20px !important;
}

.context {
	fill: hsla(120,50%,50%,0.4);
}
/* Focus - Biotype colors */
.undefined {
	fill: hsla(120,50%,50%,0.4);
}
.protein_coding {
	fill: hsla(120,50%,50%,0.4);
}
.pseudogene {
	fill: hsla(120,50%,50%,0.4);
}
.ncRNA {
	fill: hsla(120,50%,50%,0.4);
}
.snoRNA {
	fill: hsla(120,50%,50%,0.4);
}
.pre_miRNA {
	fill: hsla(120,50%,50%,0.4);
}
.tRNA {
	fill: hsla(120,50%,50%,0.4);
}
.snRNA {
	fill: hsla(120,50%,50%,0.4);
}
/* track-proximities */ 
data-tk-proximities path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#proximities line, #proximities .tick text {
	display: none;
}
.particle {
	fill: hsla(300, 100%, 25%,1.0);
}

/* track-filion */ 
data-tk-component-bedgraph path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#H1 .tick line, #H1 .tick text, 
#HP1 .tick line, #HP1 .tick text, 
#BRM .tick line, #BRM .tick text,
#MRG15 .tick line, #MRG15 .tick text,
#PC .tick line, #PC .tick text {
	display: none;
}
data-tk-component-bedgraph rect {
	color: #fff;
	fill: none;
	stroke: #fff;
	stroke-width: 0px;
	shape-rendering: crispEdges;
}
.HP1 {
	fill: hsla(130,58%,33%,0.4);
}
.BRM {
	fill: hsla(360,81%,50%,0.4);
}
.MRG15 {
	fill: hsla(80,100%,50%,0.4);
}
.PC {
	fill: hsla(240,100%,70%,0.4);
}
.H1 {
	fill: hsla(0,0%,26%,0.6);
}