/* TADkit Stylesheet
 * primary color: rgba(76,175,80,0.8) == grass green
 * secondary color: rgba(205,220,57,0.87) == yellow ochre
 */

/*** SRC WORK ***/
svg {
	font: 0.7rem sans-serif;
	max-height: 100%; /* Webkit height error fix */
}
.codecheck {
	height: 6rem;
	background: #111;
	color: #fff;
	overflow-y: scroll;
}
#file-input {
	/*display: none;*/
}

/*** GENERAL ***/
table, th, tr, td {
	font-size: 0.8rem;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
td {
	padding: 1px 5px;
}
.fullheight {
	height: 100%;
}
md-grid-list md-grid-tile {
  /*background: #ccc;*/
}
.md-button {
	text-transform: inherit;
	font-weight: inherit;
	font-size: 1rem;
}
md-checkbox.md-default-theme:not([disabled]).md-primary .md-icon {
	border-color: rgba(76,175,80,0.37);
}

/*** TOPBAR ***/
md-toolbar {
	min-height: 48px;
}
.tad-species {
	color: #fff;
}
.tad-region { 
	font-size: 1.0rem;
	color: #fff; 
}
.md-toolbar-tools .md-button {
  font-size: 1em;
  width: 100%;
}
.md-button.md-darkKit-theme.md-primary.md-raised ,
.md-button.md-default-theme.md-primary.md-raised,
md-toolbar md-icon {
	color: #fff;
}
md-input-container {
	margin: 0px;
}
md-input-container.md-default-theme .md-input {
	text-align: end;
	/*color: #fff;*/
	border-color: rgba(0,0,0,0.12);
	/*width: 180px;*/
}
md-input-container.md-default-theme .md-input:focus {
	color: #333;
	background-color: rgba(255,255,255,0.67);
}
md-input-container.md-icon-float>md-icon {
	position: absolute;
	top: 14px;
	left: 24px;
}
.md-toolbar-tools {
	color: #FFF;
	height: 50px;
	max-height: 50px;
}
#tklogo {
	z-index: 1000;
	position: absolute;
	padding: 0 0.7rem;
	margin-right:1.5rem;
	background: #333;
}
.tadkit-title {
	line-height: 1;
	margin: 0;
	font-size: 2.75rem;
}
.tadkit-title img {
	vertical-align: inherit;
}


/*** SIDEBARS ***/
md-sidenav.md-locked-open {
  /*width: 244px;*/
  /*min-width: 244px;*/
  /*max-width: 244px;*/
}
md-sidenav .md-subheader {
    padding: 10px 0px 0px 0px;
}
md-sidenav md-list-item {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
#sidebar-left {
	top: 50px;
}
#bt-openLeftSidenav {
	position: absolute;
	top: 500px;
		
}
#bt-closeLeftSidenav {
	position: absolute;
	top: 500px;
	left: 250px;
		
}
/*** HOME ***/
#backdrop a {
	color: #cb225a !important;
}
#backdrop a:hover {
	color: #fff !important;
}
#home {
	background: #4f4f58;
	background-color: #2d2d33;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgoJPHJhZGlhbEdyYWRpZW50IGlkPSdnbG93JyBncmFkaWVudFVuaXRzPSd1c2VyU3BhY2VPblVzZScgY3g9JzM1MCcgY3k9JzMwMCcgcj0nNTAwJz4KCQk8c3RvcCBvZmZzZXQ9JzAlJyBzdG9wLWNvbG9yPScjOWI5YmFkJyAvPgoJCTxzdG9wIG9mZnNldD0nNjAlJyBzdG9wLWNvbG9yPScjNGY0ZjU4JyAvPgoJCTxzdG9wIG9mZnNldD0nMTAwJScgc3RvcC1jb2xvcj0nIzJkMmQzMycgLz4KCTwvcmFkaWFsR3JhZGllbnQ+Cgk8cmVjdCBmaWxsPSd1cmwoI2dsb3cpJyB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScvPgo8L3N2Zz4=');
	text-align: left;
	position: relative;
	padding: 30px 20px 0 20px;
}
#home .floatingtad {
	width: 400px;
	height: 400px;
	position: absolute;
	right: 60px;
	top: 50px;
	z-index: 0;
}
#home .logo {
	padding: 80px 140px 20px;
}
#home .md-button {
	min-width: 300px;
	/*margin-top: 16px;*/
	/*margin-bottom: 16px;*/
}
/*
.material-icons {
	color: #fff;
	margin-left: 0;
	margin-right: 16px;
}*/


/*** PROJECTS ***/
#project-list {
}
#project-content .tk-toolbar {
	background-color: transparent;
	box-shadow: none;
}
.loader .md-button {
}
.loader .md-button md-icon {
/*	margin-left: 0;
	margin-right: 16px;
*/}
div[tk-project-dropzone] {
	border: dashed 1px #fff;
	min-width: 300px;
	padding: 16px 6px;
	margin: 20px 0;
	min-height: 20px;
	border-radius: 9px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.26);
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.26);
}
div[tk-project-dropzone] {
	background: rgb(76,175,80);
	color: #fff;
}
.loader div[tk-project-dropzone] {
	background: rgb(76,175,80);
	color: #fff;
}

div[tk-project-dropzone]:hover {
	background: rgb(67,160,71);
	-webkit-box-shadow: inset 0 4px 8px rgba(0,0,0,0.4);
	box-shadow: inset 0 4px 8px rgba(0,0,0,0.4);
}

/**
 * GENERAL
 */

/* custom checkboxes with Font Awesome icons */
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	min-width: 21px;
}
input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
.fa-sm {
	font-size: 0.8rem;
}

/**
 * LAYOUT
 */
#storyboard {
}
.component {
	position: relative;
}
.component a {
	color: #ddd;
}
.component a.toggle-false:hover,
.component a.toggle-false:focus {
	color: rgba(76,175,80,0.7);
}
.component a.toggle-true,
.component a.toggle-true {
	color: rgba(76,175,80,1);
}
md-checkbox {
	margin-bottom: 6px;
}
/*
md-checkbox .md-ripple {
	color:#e53935
}

md-checkbox.md-checked.md-focused .md-container:before {
	background-color:rgba(255,82,82,0.26)
}

md-checkbox.md-checked .md-icon {
	background-color:rgba(255,82,82,0.87)
}
*/
.component-controller {
	position: relative;
	display: inline-block;
	float: left;
}
.component-header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.2rem;
	padding: 0 0.3rem;
	background: rgba(255,255,255,0.8);
}
.component-header h6 {
	color: #333;
	font-size: 0.7rem;
	font-weight: normal;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
#slider h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.component-controls {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 0 0 0.5rem;
	padding: 0 0 0 0.3rem;
	font-size: 0.8rem;
	z-index: 9999;
}
.component-controls md-icon {
  font-size: 16px !important;
/*	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	padding: 0 1px;
*/}
.component-options {
	position: absolute;
	top: 28px; /* height of #component-title */
	left: 0;
	margin: 2.0rem;
	padding: 0.6rem;
	background: rgba(255,255,255,0.8);
	border: rgba(205,220,57,0.87) solid 2px;
	border-radius: 0.6rem;
	/*font-size: 0.6rem;*/
	z-index: 9999;
}
.component-options.track {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 28px; /* height of #component-title */
	border: none;
	border-bottom: #99f dashed 1px;
}
.component-options ul {
	list-style-type: none;
	color: #666;
	text-align: right;
	padding: 6px;
	margin-right: 40px;
	margin-top: 6px;
}
.component-body {
	display: inline-block;
/*	font-size: 0.4rem;
	line-height: 0;*/
	margin: 0;
	padding: 0;
}
.component-caption .title {
}
.component-caption .subtitle {
	font-size: 0.8rem;
}

/* dynmaic with Packery and Draggabilly */
.component-container {
	width: 100%;
	/*border: 1px solid #d1d1d1;*/
	/* clearfix */
}
.component-container .gutter-sizer {
	width: 2%;
	display: none;
}
.component-container .component-container:after {
	content: ' ';
	display: block;
	clear: both;
}
.component-container .component, .component-container .component-sizer {
	height: auto;
	width: 100%;
	/*border: 2px solid #fff;*/
}
md-dialog.almostfullscreen-dialog {
    max-width: 60%;
    width: 60%;
}
.md-dialog-container {
	z-index: 150;
}
.component-container .component {
	float: left;
}
.component-container .scene {
	width: 800px;
	height: 400px;
}
.component-container .panel-inspector {
	width: 300px;
	height: 324px;
}
.component-container .panel-hicdata {
	width: 600px;
	height: 600px;
}
.component-container #hic_canvas, .component-container img {
	cursor: move;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.component #hic_data_container{
	overflow: hidden;
	/*border: 5px solid #ddd;*/
}
.component #hic_data_container #zoom-buttons {
	z-index: 2;
    position: absolute;
    left: 0px;
}
.component #hic_data_container #show_restraints {
    padding-bottom: 4px;
    padding-right: 6px;
}
.component #hic_data_container #slider-hic {
	/*position: absolute;
    left: 100px;*/
    width: 230px;
    height: 20px;
    /*top: 0;
    float: right;*/
}
.component #hic_data_container table,
.component #hic_data_container tr,
.component #hic_data_container td
{
    border-style: none;
}
.component #hic_data_container .jslider.vertical {
	height: 100px;
}
.component #hic_data_container .md-button.md-default-theme.md-fab {
	font-size: 30px;
	line-height: 14px;
    width: 30px;
    height: 30px;	
    padding-bottom: 8px;
}
.component #hic_data_container #no_hic_data_label {
	position: absolute;
    top: 200px;
    left: 200px;
}
.component-container .track-slider,
.component-container .track-genes {
	width: 100%;
	/*height: 20px;*/
}
.component-container .component:hover {
}
.component-container .component.is-dragging {
	/*border: 2px solid #ccc;*/
	cursor: move;
	z-index: 2;
}
.component-handle {
	width: 20px;
	height: 20px;
}
.component-body .igv-root-div {
	line-height: normal;	
}
.component-controller .igv-logo {
	background: rgba(0, 0, 0, 0) url("../img/igv-logo.svg") no-repeat scroll 0 0 / 34px 16px;
}

#tad-highlight-tadkit {
	z-index: 15;
	pointer-events: none;
	display: block;
    height: 100%;
    position: absolute;
    background-color: transparent;
	border-left: 3px dashed black;
    border-right: 3px dashed black;
}
#trackbar-tadkit-left-mark, #trackbar-tadkit-right-mark{
    background-color: #ff0000;
    display: block;
    height: 100%;
    position: fixed;
    width: 1px;
    z-index: 15;
}
/**
 * MODALS
 */

/*
.dialogdemoBasicUsage .dialogDemo1 {
	height: 500px; }
.dialogdemoBasicUsage .full {
	width: 100%;
	height: 100%; }
.dialogdemoBasicUsage .gap {
	width: 50px; }
.dialogdemoBasicUsage md-dialog md-content.sticky-container {
	padding: 0; }
.dialogdemoBasicUsage md-dialog md-content.sticky-container .dialog-content {
	overflow: scroll;
	padding: 0 24px 24px; }
.dialogdemoBasicUsage .md-subheader {
	background-color: #dcedc8;
	margin: 0px; }
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
	margin-right: 0px;
	margin-top: 0px;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
.dialogdemoBasicUsage h2 .md-subheader-content {
	padding-left: 10px; }
*/


/* ********** */
/* COMPONENTS */
/* ********** */


/**
 * PANELS
 */
.panel-inspector .component-body .md-tab-content {
	padding-top: 10px;
	overflow: overlay;
}
.panel-inspector .component-body .feature-title {
	font-weight: bold;
}
.panel-inspector .component-body .feature-column-header{
    width: 100%;
    font-size: 0.9rem;
    padding-right: 5px;
    text-align: center;
}
.panel-inspector .component-body .feature-column-body{
    width: 100%;
    display: block;
    text-align: center;
}
.panel-inspector .component-body .accordion .accordion-navigation > a,
.panel-inspector .component-body .accordion dd > a {
	font-size: 0.6rem;
	padding: 0.2rem 0.4rem;
}
.panel-inspector .component-body .accordion .accordion-navigation > .content,
.panel-inspector .component-body .accordion dd > .content {
	padding: 0.6rem;
}
.panel-inspector .md-button.md-default-theme.md-accent,
.almostfullscreen-dialog .md-button.md-default-theme{
	color: rgb(0,96,128);
	background-color: rgb(248,248,248);
}
.md-tabs.md-default-theme .md-header {
	overflow-x: hidden;
}
.tadkitGrid {
  width: 100%;
  height: 100%;
}
.md-default-theme table, .md-default-theme table tr {
	width: 100%;
	border: none;
}
.md-default-theme table tr th,
.md-default-theme table tr td {
	font-size: 1.0rem;
	line-height: 1.8rem;
	padding: 0;
	padding-right: 10px;
	border: none;
}
md-dialog.md-default-theme {
	padding: 0px;
	/*opacity: 1;*/
}
md-dialog-content.md-default-theme {
	padding: 10px;
	overflow-y: scroll;
}
md-dialog-actions {
	padding: 10px;
}
md-select {
    margin-top: 0;
}
.md-select-menu-container { z-index: 99999 !important; }
md-list-item .md-secondary-container, md-list-item .md-secondary, md-list-item .md-list-item-inner .md-secondary-container, md-list-item .md-list-item-inner .md-secondary {
  margin-left: 16px;
  position: absolute;
  right: 16px;
  top: 10%;
}

/**
 * SCENES
 */
.center {
	min-height: 100vh;
}
.tile-content {
	border: 4px #fff solid;
	border-radius: 16px;
	padding: 4px;
}
.tile-content:hover {
	border: 4px #eee solid;
}
.tile-content.selected, .tile-content.selected:hover {
	border: 4px #ccc solid;
}
#scene-controls {
	position: relative;
}
#scene-controls ul {
	list-style-type: none;
	font-size: 0.8rem;
	color: #666;
	text-align: right;
/*	border: solid 1px #ccc;*/
	padding: 6px;
	margin-right: 40px;
	margin-top: 6px;
}
#scene-controls a {
	color: #999;
}

/**
 * TRACKS
 */
track {
	display: block;
/*	background: blue;*/
}
#track-controls {
	position: relative;
}
#track-controls ul {
	position: absolute;
	top: 20px;
	right: 35px;
	list-style-type: none;
	font-size: 0.8rem;
	color: #666;
	text-align: right;
}
#track-controls a {
	color: #999;
}
.axis path,
.axis line {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}
.axis text { fill: #999; }
.brush .extent {
	stroke: #;
	fill-opacity: .25;
	shape-rendering: crispEdges;
}

/* track-slider */
.track-slider .axis path {}
.track-slider .background {
	cursor: n-resize !important;
}
.track-slider .handle {
	fill: #fff;
	stroke: #ccc;
	stroke-width: 2;
	cursor: col-resize;
}
.track-slider .axis text, .track-slider .axis line {}

/* track-genes */
.track-genes .axis path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}

#highlight {
	fill: none;
	stroke: #f00;
	stroke-width: 1px;
}
#genes-listing {
	position: relative;
}
#genes-listing p,
#genes-listing ul {
	list-style-type: none;
	font-size: 0.8rem;
	color: #999;
	text-align: right;
/*	border: solid 1px #ccc;*/
	padding: 6px;
	margin-right: 40px;
	margin-top: 6px;
	margin-bottom: 6px;
}
#genes-listing a {
	color: #999;
}

/* wiggle_0 */
.wiggle_0 {
	margin-top: -4px !important;
}
.wiggle_0 .component-header {
	/*margin: 0;*/
}
.wiggle_0 .component-body {
	font-size: 0.2rem;
}
#highlight.highlight-follow {
	fill: #999;
	stroke: #fff;
	stroke-width: 0px;
}

.lower-tracks {
	margin-top: 20px !important;
}

.context {
	fill: hsla(120,50%,50%,0.4);
}
/* Focus - Biotype colors */
.undefined {
	fill: hsla(120,50%,50%,0.4);
}
.protein_coding {
	fill: hsla(120,50%,50%,0.4);
}
.pseudogene {
	fill: hsla(120,50%,50%,0.4);
}
.ncRNA {
	fill: hsla(120,50%,50%,0.4);
}
.snoRNA {
	fill: hsla(120,50%,50%,0.4);
}
.pre_miRNA {
	fill: hsla(120,50%,50%,0.4);
}
.tRNA {
	fill: hsla(120,50%,50%,0.4);
}
.snRNA {
	fill: hsla(120,50%,50%,0.4);
}
/* track-proximities */ 
data-tk-proximities path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#proximities line, #proximities .tick text {
	display: none;
}
.particle {
	fill: hsla(300, 100%, 25%,1.0);
}

/* track-filion */ 
data-tk-component-bedgraph path {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#H1 .tick line, #H1 .tick text, 
#HP1 .tick line, #HP1 .tick text, 
#BRM .tick line, #BRM .tick text,
#MRG15 .tick line, #MRG15 .tick text,
#PC .tick line, #PC .tick text {
	display: none;
}
data-tk-component-bedgraph rect {
	color: #fff;
	fill: none;
	stroke: #fff;
	stroke-width: 0px;
	shape-rendering: crispEdges;
}
.HP1 {
	fill: hsla(130,58%,33%,0.4);
}
.BRM {
	fill: hsla(360,81%,50%,0.4);
}
.MRG15 {
	fill: hsla(80,100%,50%,0.4);
}
.PC {
	fill: hsla(240,100%,70%,0.4);
}
.H1 {
	fill: hsla(0,0%,26%,0.6);
}

/*** TYPOGRAPHY ***/
@font-face {
	font-family: 'tadkit';
	src:url('../fonts/tadkit.eot?-d942yg');
	src:url('../fonts/tadkit.eot?#iefix-d942yg') format('embedded-opentype'),
		url('../fonts/tadkit.woff?-d942yg') format('woff'),
		url('../fonts/tadkit.ttf?-d942yg') format('truetype'),
		url('../fonts/tadkit.svg?-d942yg#tadkit') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'tadkit';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
md-icon {
  font-size: 24px;
}
.md-icon-sm {
  font-size: 12px;
}

/* IcoMoon code <md-icon> classes */

.icon-exit-to-app:before {
	content: "\e60f";
}

.icon-info:before {
	content: "\e617";
}

.icon-info-outline:before {
	content: "\e618";
}

.icon-input:before {
	content: "\e60e";
}

.icon-open-in-browser:before {
	content: "\e600";
}

.icon-perm-identity:before {
	content: "\e605";
}

.icon-search:before {
	content: "\e601";
}

.icon-settings:before {
	content: "\e602";
}

.icon-swap-horiz:before {
	content: "\e60b";
}

.icon-view-carousel:before {
	content: "\e606";
}

.icon-view-module:before {
	content: "\e607";
}

.icon-fast-forward:before {
	content: "\e60c";
}

.icon-fast-rewind:before {
	content: "\e60d";
}

.icon-pause:before {
	content: "\e608";
}

.icon-play-arrow:before {
	content: "\e609";
}

.icon-add:before {
	content: "\e603";
}

.icon-clear:before {
	content: "\e604";
}

.icon-cloud-download:before {
	content: "\e610";
}

.icon-file-upload:before {
	content: "\e611";
}

.icon-keyboard-arrow-left:before {
	content: "\e60a";
}

.icon-keyboard-arrow-right:before {
    content: "\e61a";
}

.icon-keyboard-backspace:before {
	content: "\e612";
}

.icon-check-box:before {
	content: "\e613";
}

.icon-check-box-outline-blank:before {
	content: "\e614";
}

.icon-radio-button-off:before {
	content: "\e615";
}

.icon-radio-button-on:before {
	content: "\e616";
}
