:host {
	height: 100%;
	overflow: hidden;
}
main {
	display: flex;
	height: 100%;
	background: #fff;
  }
  .nav {
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 2.5em 1.75em;
	background: #f4f;
	width: 260px;
	max-width: 300px;
	min-width: 165px;
  }
  .content {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: space-around;
	padding: 7px;
  }
  .row {
	min-height: 50px;
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: space-around;
  }
  .row.resizable {
	flex: 0 0 300px;
  }
  .section {
	box-sizing: border-box;
	border-radius: 10px;
	padding: 1.25em 1.75em;
	background: #ddd;
	border: 7px solid #fff;
	flex: 1;
	min-width: 30px;
  }
  .section.resizable {
	flex: 0 0 300px;
  }
  #one { background: #7bd389; color: darken(#7bd389, 30); }
  #two { background: #aedcc0; color: darken(#aedcc0, 30); }
  #three { background: #38e4ae; color: darken(#38e4ae, 30); }
  #four { background: url(https://c.staticblitz.com/assets/client/components/SideMenu/blitz_logo-11cebad97cad4b50bc955cf72f532d1b.png); }
  