<div class="content vert">
	<tk-widget-layout class="row" [directions]="['right']" [rFlex]="true">
		<ng-container *ngFor="let widget of widgets; index as i;">
		<tk-widget-layout *ngIf="i===0" class="cell" [directions]="['bottom']" [rFlex]="true">
			<tk-widget [widget]="widget" [dataStream]="dataStream"></tk-widget>
		</tk-widget-layout>
		<tk-widget-layout *ngIf="i===2" class="cell" [directions]="['bottom']" [rFlex]="false">
			<tk-widget [widget]="widget" [dataStream]="dataStream"></tk-widget>
		</tk-widget-layout>
		</ng-container>
	</tk-widget-layout>
	<tk-widget-layout class="row" [directions]="['right']" [rFlex]="false">
		<ng-container *ngFor="let widget of widgets; index as i;">
			<tk-widget-layout *ngIf="i===1" class="cell" [directions]="['bottom']" [rFlex]="true">
				<tk-widget [widget]="widget" [dataStream]="dataStream"></tk-widget>
			</tk-widget-layout>
			<tk-widget-layout *ngIf="i===3" class="cell" [directions]="['bottom']" [rFlex]="false">
				<tk-widget [widget]="widget" [dataStream]="dataStream"></tk-widget>
			</tk-widget-layout>
		</ng-container>
	</tk-widget-layout>
</div>
	