<md-dialog aria-label="Import Data for Overlay">
	<md-content class="sticky-container">
		<md-subheader class="md-sticky-no-effect">Import Data for Overlay [Step 3/3]</md-subheader>
		<div class="dialog-content">
			<p>
				Select display options...
			</p>
		</div>
	</md-content>
	<div class="md-actions" layout="row">
		<md-button ui-sref="overlay-represent" class="md-raised md-primary">back</md-button>
		<span flex></span>
		<md-button ui-sref="browser" class="md-raised md-primary">...finish</md-button>
	</div>
</md-dialog>