<md-content id="home" flex="100" class="fullheight">
	<div tk-component-scene-floatingtad class="floatingtad"></div>
	<div layout="column" class="logo">
		<h2 class="tadkit-title">
			<img alt="TADkit" src="assets/img/tadkit-logo-invert.png" />
		</h2>
		<h3>3D genome browser <br class="hide-for-small">and TADbit front-end.</h3>
	</div>
	<div layout="column" layout-align="space-around left">
		<!--md-input-container layout-padding ng-show="$state.includes('disabled')"-->
			<input type="file" accept=".json" nv‐file‐select uploader="uploader"/>
			<br/>
			<ul>
				<li ng‐repeat="iteminuploader.queue">
					Name:<span ng‐bind="item.file.name"></span>
					<br/>
					<button ng‐click="item.upload()">upload</button>
				</li>
			</ul>
		<!--/md-input-container-->
		<md-button layout-padding ui-sref="dataset" class="md-raised">
			<md-icon class="icon-file-upload"></md-icon> TADkit Online</md-button>
		<md-button layout-padding ui-sref="download" class="md-raised">
			<md-icon class="icon-cloud-download"></md-icon> View @GitHub</md-button>
	</div>
</md-content>