/* Genoverse style overide to harmonize with TADkit styling
 * line numbers refer to genoverse.css commit:c233385 25 Jan
 */

 /* line 3 */
.genoverse {
  font-family: inherit !important;
  font-size: inherit !important;
}

/* line 19 */
.gv-canvas-container .gv-wrapper {
  border: 0px solid #fff !important;
  margin-right: 100px !important;
}

/* line 36 */
.gv-canvas-container .gv-track-container-legend {
  border-top: 0px solid #fff !important;
}

/* line 153 */
.gv-label-container {
  background-color: #fff !important;
  background-image: none !important;
  border-radius: 0 !important;
  border: 0px solid #fff !important;
  box-shadow: none !important;
  /*width: 100px; as per TADkit track margins*/
}

/* line 169 */
.gv-label-container li {
  color: #000 !important;
}

/* line 190 */
.gv-label-container li.ui-sortable-placeholder {
  background-color: #fff !important;
}

/* line 194 */
.gv-label-container li:not(:first-child) {
   box-shadow: none !important;
}

/* line 198 */
.gv-label-container li .gv-name {
  color: #000 !important;
  text-shadow: none !important;
  font-size: 0.7rem !important;
  font-weight: normal !important;
}

