/* TADkit GENERAL Stylesheet
 * primary color: rgba(76,175,80,0.8) == grass green
 * secondary color: rgba(205,220,57,0.87) == yellow ochre
 */

/*** SRC WORK ***/
.codecheck {
	height: 6rem;
	background: #111;
	color: #fff;
	overflow-y: scroll;
}

/*** GENERAL ***/
table, th, tr, td {
	font-size: 0.8rem;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
td {
	padding: 1px 5px;
}
.fullheight {
	height: 100%;
}

/*** MAIN CONTENT ***/

/*** PROJECTS ***/
#project-list {
}
#project-content .tk-toolbar {
	background-color: transparent;
	box-shadow: none;
}

/*** LOADER ***/
.loader #main-content {
	background: #4f4f58;
	background-color: #2d2d33;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgoJPHJhZGlhbEdyYWRpZW50IGlkPSdnbG93JyBncmFkaWVudFVuaXRzPSd1c2VyU3BhY2VPblVzZScgY3g9JzM1MCcgY3k9JzMwMCcgcj0nNTAwJz4KCQk8c3RvcCBvZmZzZXQ9JzAlJyBzdG9wLWNvbG9yPScjOWI5YmFkJyAvPgoJCTxzdG9wIG9mZnNldD0nNjAlJyBzdG9wLWNvbG9yPScjNGY0ZjU4JyAvPgoJCTxzdG9wIG9mZnNldD0nMTAwJScgc3RvcC1jb2xvcj0nIzJkMmQzMycgLz4KCTwvcmFkaWFsR3JhZGllbnQ+Cgk8cmVjdCBmaWxsPSd1cmwoI2dsb3cpJyB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScvPgo8L3N2Zz4=');
	text-align: left;
	position: relative;
	padding: 30px 20px 0 20px;
}
.loader #floating-tad {
	width: 400px;
	height: 400px;
	position: absolute;
	right: 60px;
	top: 50px;
	z-index: 0;
}
.loader .md-button {
	min-width: 300px;
}
.loader .md-button md-icon {
/*	margin-left: 0;
	margin-right: 16px;
*/}
.loader div[ui-dropzone] {
	background: rgb(76,175,80);
	color: #fff;
	border: dashed 1px #fff;
	min-width: 300px;
	padding: 16px 6px;
	margin: 20px 0;
	min-height: 20px;
	border-radius: 9px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.26);
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.26);
}
.loader div[ui-dropzone]:hover {
	background: rgb(67,160,71);
	-webkit-box-shadow: inset 0 4px 8px rgba(0,0,0,0.4);
	box-shadow: inset 0 4px 8px rgba(0,0,0,0.4);
}

/*** DATASET ***/
.dataset #main-content {
	padding: 20px;
}


/**
 * GENERAL
 */

/* custom checkboxes with Font Awesome icons */
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	min-width: 21px;
}
input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
.fa-sm {
	font-size: 0.8rem;
}

/**
 * LAYOUT
 */
#storyboard {
}
.component {
	position: relative;
}
.component a {
	color: #ddd;
}
.component a.toggle-false:hover,
.component a.toggle-false:focus {
	color: rgba(76,175,80,0.7);
}
.component a.toggle-true,
.component a.toggle-true {
	color: rgba(76,175,80,1);
}

.component-controller {
	position: relative;
	display: inline-block;
}
.component-header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.2rem;
	padding: 0 0.3rem;
	background: rgba(255,255,255,0.8);
}
.component-header h6 {
	color: #333;
	font-size: 0.7rem;
	font-weight: normal;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
#slider h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.component-controls {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 0 0 0.5rem;
	padding: 0 0 0 0.3rem;
	font-size: 0.8rem;
}
.component-controls md-icon {
  font-size: 16px !important;
/*	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	padding: 0 1px;
*/}
.component-options {
	position: absolute;
	top: 28px; /* height of #component-title */
	left: 0;
	margin: 2.0rem;
	padding: 0.3rem;
	background: rgba(255,255,255,0.8);
	border: rgba(205,220,57,0.87) solid 2px;
	border-radius: 0.6rem;
	font-size: 0.6rem;
}
.component-options.track {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 28px; /* height of #component-title */
	border: none;
	border-bottom: #99f dashed 1px;
}
.component-options ul {
	list-style-type: none;
	color: #666;
	text-align: right;
	padding: 6px;
	margin-right: 40px;
	margin-top: 6px;
}
.component-body {}
.component-caption .cluster-title {
	display: inline-block;
}
.component-caption .model-count {
	display: inline-block;
	font-size: 0.8rem;
}

/* dynmaic with Packery and Draggabilly */
.component-container {
	width: 100%;
	/*border: 1px solid #d1d1d1;*/
	/* clearfix */
}
.component-container .gutter-sizer {
	width: 2%;
	display: none;
}
.component-container .component-container:after {
	content: ' ';
	display: block;
	clear: both;
}
.component-container .component, .component-container .component-sizer {
	height: auto;
	width: 100%;
	/*border: 2px solid #fff;*/
}
.component-container .component {
	float: left;
}
.component-container .scene {
	width: 800px;
	height: 400px;
}
.component-container .panel-inspector {
	width: 300px;
	height: 324px;
}
.component-container .track-slider,
.component-container .track-genes {
	width: 100%;
	/*height: 20px;*/
}
.component-container .component:hover {
}
.component-container .component.is-dragging {
	/*border: 2px solid #ccc;*/
	cursor: move;
	z-index: 2;
}
.component-handle {
	width: 20px;
	height: 20px;
}


/* ********** */
/* COMPONENTS */
/* ********** */

/**
 * PANELS
 */
.panel-inspector .component-body {
	margin-top: 1.4rem;
	padding: 0.4rem;
}
.panel-inspector .component-body div {
	overflow: scroll;
}
.panel-inspector .component-body .accordion .accordion-navigation > a,
.panel-inspector .component-body .accordion dd > a {
	font-size: 0.6rem;
	padding: 0.2rem 0.4rem;
}
.panel-inspector .component-body .accordion .accordion-navigation > .content,
.panel-inspector .component-body .accordion dd > .content {
	padding: 0.6rem;
}
.panel-inspector .component-body table {
	width: 100%;
	border: none;
}
.panel-inspector .component-body table tr th,
.panel-inspector .component-body table tr td {
	font-size: 0.6rem;
	line-height: 0.8rem;
	padding: 0;
}

/*make following generic for all panels...*/
#genes-listing {
	position: relative;
}
#genes-listing p,
#genes-listing ul {
	list-style-type: none;
	font-size: 0.8rem;
	color: #999;
	text-align: right;
/*	border: solid 1px #ccc;*/
	padding: 6px;
	margin-right: 40px;
	margin-top: 6px;
	margin-bottom: 6px;
}
#genes-listing a {
	color: #999;
}


/**
 * SCENES
 */
.center {
	min-height: 100vh;
}
.tile-content {
	border: 4px #fff solid;
	border-radius: 16px;
	padding: 4px;
}
.tile-content:hover {
	border: 4px #eee solid;
}
.tile-content.selected, .tile-content.selected:hover {
	border: 4px #ccc solid;
}
#scene-controls {
	position: relative;
}
#scene-controls ul {
	list-style-type: none;
	font-size: 0.8rem;
	color: #666;
	text-align: right;
/*	border: solid 1px #ccc;*/
	padding: 6px;
	margin-right: 40px;
	margin-top: 6px;
}
#scene-controls a {
	color: #999;
}

/**
 * TRACKS
 */
track {
	display: block;
/*	background: blue;*/
}
#track-controls {
	position: relative;
}
#track-controls ul {
	position: absolute;
	top: 20px;
	right: 35px;
	list-style-type: none;
	font-size: 0.8rem;
	color: #666;
	text-align: right;
}
#track-controls a {
	color: #999;
}


