/*** MATERIAL DESIGN CUSTOM THEME ***/
/*
 * @see https://material.angularjs.org/latest/Theming/03_configuring_a_theme
 * @see http://stackoverflow.com/questions/29100952/my-own-styles-in-angular-material-ui
 */
.md-tadkit-theme.md-primary {
	color: #fff;
}
.md-button.md-tadkit-theme {
	text-transform: inherit;
	font-weight: inherit;
	font-size: 1rem;
}
md-checkbox.md-tadkit-theme:not([disabled]).md-primary .md-icon {
	border-color: rgba(76,175,80,0.37);
}
.md-button[type="file"] > input[type="file"] {
  display: none;
}
md-dialog.md-tadkit-theme md-content {
	padding: 24px;
}


/*** TOPBAR ***/
md-toolbar.md-tadkit-theme:not(.md-menu-toolbar) {
	min-height: 48px;
	color: #fff;
}
md-toolbar.md-tadkit-theme .tad-region {
	font-size: 1.0rem;
}
.md-toolbar-tools.md-tadkit-theme .md-button {
  font-size: 1em;
}
md-input-container.md-tadkit-theme {
	width: 220px;
}
a.md-button.md-tadkit-theme.md-accent:not([disabled]) md-icon,
.md-button.md-tadkit-theme.md-accent:not([disabled]) md-icon,
md-toolbar.md-tadkit-theme:not(.md-menu-toolbar) md-icon {
	color: #fff;
}
md-input-container.md-tadkit-theme .md-input {
	text-align: end;
	color: #fff;
	border-color: rgba(255,255,255,0.37);
	/*width: 180px;*/
}
md-input-container.md-tadkit-theme .md-input:focus {
	color: #333;
	background-color: rgba(255,255,255,0.67);
}
md-input-container.md-icon-float>md-icon {
	position: absolute;
	top: 14px;
	left: 24px;
}
.md-toolbar-tools.md-tadkit-theme {
	height: 48px;
	max-height: 48px;
}
#tadkit-title {
	line-height: 1;
	margin: 0;
	font-size: 2.75rem;
}
#tadkit-title img {
	vertical-align: inherit;
}



/*** SIDEBARS ***/
md-sidenav.md-tadkit-theme.md-locked-open {
  /*width: 244px;*/
  /*min-width: 244px;*/
  /*max-width: 244px;*/
}
md-sidenav.md-tadkit-theme md-list-item {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  /*max-height: 40px;*/
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

/*** Layout ***/
md-checkbox.md-tadkit-theme {
	margin: 3px;
}


/*** Components ***/
md-grid-list.md-tadkit-theme md-grid-tile md-grid-tile-header,
md-grid-list.md-tadkit-theme md-grid-tile md-grid-tile-footer {
	color: inherit;
	background: rgba(255, 255, 255, 0.28);
}

/* Panels */
md-list-item.md-tadkit-theme .md-secondary-container,
md-list-item.md-tadkit-theme .md-secondary,
md-list-item.md-tadkit-theme .md-list-item-inner .md-secondary-container,
md-list-item.md-tadkit-theme .md-list-item-inner .md-secondary {
  margin-left: 16px;
  position: absolute;
  right: 16px;
  top: 10%;
}
