/*
 * Resizable Layout - Columns
 * Default like HTML table rows:
  +--------+--------+
  | Cell 1 | Cell 3 |
  | Cell 2 | Cell 4 |
  +--------+--------+
  <tk-widget-layout-col class="col" [directions]="['right']" [rFlex]="true">
    <ng-container *ngFor="let widget of widgets; index as i;">
    <tk-widget-layout-col *ngIf="i===0" class="cell" [directions]="['bottom']" [rFlex]="true">
      <p>Cell Content 1</p>
    </tk-widget-layout-col>
    <tk-widget-layout-col *ngIf="i===2" class="cell" [directions]="['bottom']" [rFlex]="false">
      <p>Cell Content 2</p>
    </tk-widget-layout-col>
    </ng-container>
  </tk-widget-layout-col>
  <tk-widget-layout-col class="col" [directions]="['right']" [rFlex]="false">
    <ng-container *ngFor="let widget of widgets; index as i;">
      <tk-widget-layout-col *ngIf="i===1" class="cell" [directions]="['bottom']" [rFlex]="true">
        <p>Cell Content 3</p>
      </tk-widget-layout-col>
      <tk-widget-layout-col *ngIf="i===3" class="cell" [directions]="['bottom']" [rFlex]="false">
        <p>Cell Content 4</p>
      </tk-widget-layout-col>
    </ng-container>
  </tk-widget-layout-col>
 * 
 */

  $spacing: 8px;

.content-col {
  //min-height: 100%;
	// flex: 1;
	display: flex;
	// justify-content: space-around;
	// align-content: space-around;
  // padding: $spacing/2;
  flex-flow: row nowrap;
}
.col {
	// min-height: 50px;
	flex: 1;
	display: flex;
  flex-flow: column nowrap;
	// justify-content: space-around;
	// align-content: space-around;
	&.resizable {
        flex: 0 0 360px;
    }
}
.cell {
	box-sizing: border-box;
	// border-radius: 0px;
	/* padding: 1.25em 1.75em; */
	background: #fff;
	border: $spacing/2 solid #f0f0f0;
	flex: 1;
	min-width: 60px;
	&.resizable {
        flex: 0 0 360px;
    }
}
.cell canvas:first-of-type  {
  // display: flex; 
}

/**
 * Resizable
 */
.resizable {
  position: relative;
  &.no-transition {
      transition: none !important;
  }
}
.rc-none {
  display: none;
}
.rc-right, .rc-left, .rc-top, .rc-bottom {
  display: block;
  width: $spacing;
  height: $spacing;
  line-height: $spacing;
  user-select: none;
  background: transparent;
  position: absolute;
  z-index: 1;
  span {
      position: absolute;
      box-sizing: border-box;
      display: block;
      border: 1px solid #ccc;    
  }
}
.rc-right, .rc-left {
  span {
      border-width: 0 1px;
      top: 50%; margin-top: -10px;
      margin: -10px 0 0 $spacing/4;
      height: 20px;
      width: $spacing/2;
  }
}
.rc-top, .rc-bottom {
  span {
      border-width: 1px 0;
      left: 50%;
      margin: $spacing/4 0 0 -10px;
      width: 20px;
      height: $spacing/2;
  }
}
.rc-top     {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -#{$spacing};;
}
.rc-right   {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -#{$spacing/2};
}
.rc-bottom  {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -#{$spacing};
}
.rc-left    {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -#{$spacing/2};
}
