	<div  ng-controller="TrackCtrl" class="trackholder row">
		<!--div id="track-controls" class="controls">
			<ul  class="right">
				<li>
					<a ng-click="toggleSense()" class="toggle"> 
						<span data-ng-hide="sense"><i class="fa fa-expand fa-lg"></i></span>
						<span data-ng-show="sense"><i class="fa fa-compress fa-lg	"></i></span>
					</a>
				</li>
			</ul>
		</div-->
		<genes data="genes" id="genes" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" sense="showSense" class=""></genes>
		<slider data="particles" id="slider" position="slider.position" fragments="fragments" class=""></slider>
	</div>
	<div  ng-controller="SceneCtrl" class="trackholder row">
		<div id="scene-controls"  class="controls">
			<ul class="right">
				<li>
					<a ng-click="toggleParticles()" class="toggle">Particles 
						<span data-ng-hide="showParticles"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showParticles"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleChromatin()" class="toggle">Chromatin 
						<span data-ng-hide="showChromatin"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showChromatin"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<a ng-click="toggleParticles()"><i class="icon-adjust"></i></a>
			</ul>
		</div>
		<scene data="vertices" position="slider.position" particles="showParticles" chromatin="showChromatin" colors="colors" segments="segments" id="tadmodel" class=""></scene>
	</div>
	<div  ng-controller="TrackCtrl" class="trackholder row lower-tracks">
		<proteins data="proteins" id="HP1" color="green" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></proteins>
		<proteins data="proteins" id="BRM" color="red" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></proteins>
		<proteins data="proteins" id="MRG15" color="yellow" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></proteins>
		<proteins data="proteins" id="PC" color="blue" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></proteins>
		<proteins data="proteins" id="H1" color="black" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></proteins>
	</div>
