	<div  ng-controller="TrackCtrl" class="trackholder row">
		<!--div id="track-controls" class="controls">
			<ul  class="right">
				<li>
					<a ng-click="toggleSense()" class="toggle"> 
						<span data-ng-hide="sense"><i class="fa fa-expand fa-lg"></i></span>
						<span data-ng-show="sense"><i class="fa fa-compress fa-lg	"></i></span>
					</a>
				</li>
			</ul>
		</div-->
		<data-tk-genes data="genes" id="genes" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" sense="showSense" class=""></data-tk-genes>
		<data-tk-slider data="particles" id="slider" position="slider.position" fragments="fragments" class=""></data-tk-slider>
	    <!--div id="">
	      <h3>Genes present</h3>
	      <ul ng-repeat="gene in genes | filter: filterGenes | orderBy: 'id' ">
	        <li>{{gene.id}} ({{gene.start}})</li>
	      </ul>
	    </div-->
	</div>
	<div  ng-controller="SceneCtrl" class="trackholder row">
		<div id="scene-controls"  class="controls">
			<ul class="right">
				<li>
					<a ng-click="toggleParticles()" class="toggle">Particles 
						<span data-ng-hide="showParticles"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showParticles"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleChromatin()" class="toggle">Chromatin 
						<span data-ng-hide="showChromatin"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showChromatin"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<hr />
				</li>
				<li>
					<a ng-click="toggleGenes()" class="toggle">Genes 
						<span data-ng-hide="showGenes"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showGenes"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleContacts()" class="toggle">Contacts 
						<span data-ng-hide="showContacts"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showContacts"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleHP1()" class="toggle">HP1 Protein 
						<span data-ng-hide="showHP1"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showHP1"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleBRM()" class="toggle">BRM Protein 
						<span data-ng-hide="showBRM"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showBRM"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleMRG15()" class="toggle">MRG15 Protein 
						<span data-ng-hide="showMRG15"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showMRG15"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="togglePC()" class="toggle">PC Protein 
						<span data-ng-hide="showPC"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showPC"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
				<li>
					<a ng-click="toggleH1()" class="toggle">H1 Protein 
						<span data-ng-hide="showH1"><i class="fa fa-toggle-off"></i></span>
						<span data-ng-show="showH1"><i class="fa fa-toggle-on"></i></span>
					</a>
				</li>
			</ul>
		</div>
		<data-tk-scene data="vertices" position="slider.position" particles="showParticles" chromatin="showChromatin" proteins="showHP1" colors="colors" segments="segments" id="tadmodel" class=""></data-tk-scene>
	</div>
	<div  ng-controller="TrackCtrl" class="trackholder row lower-tracks">
		<data-tk-contacts data="contacts" id="contacts" color="green" position="slider.position" positions="fragments" segments="segments" focusstart="focusStart" focusend="focusEnd" class=""></data-tk-contacts>
		<data-tk-proteins data="proteins" id="HP1" color="green" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></data-tk-proteins>
		<data-tk-proteins data="proteins" id="BRM" color="red" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></data-tk-proteins>
		<data-tk-proteins data="proteins" id="MRG15" color="yellow" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></data-tk-proteins>
		<data-tk-proteins data="proteins" id="PC" color="blue" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></data-tk-proteins>
		<data-tk-proteins data="proteins" id="H1" color="black" position="slider.position" positions="fragments" assemblylength="assemblyLength" focusstart="focusStart" focusend="focusEnd" class=""></data-tk-proteins>
	</div>
