<div ng-controller='SceneController' class="component-controller">
	<div class="component-header">
		<h6>{{state.title}}</h6>
	</div>
	<div class="component-controls">
		<a ng-click='view.controls.autoRotate = !view.controls.autoRotate' class="options toggle-false">
			<md-icon data-ng-hide="view.controls.autoRotate" class="icon-play-arrow"></md-icon>
			<md-icon data-ng-show="view.controls.autoRotate" class="icon-pause"></md-icon>
		</a>
		<a ng-click='toggleOptions()' class="options toggle-{{optionsState}}">
		<!-- <a ng-click='toggle(optionsState)' class="options toggle-{{optionsState}}"> -->
			<md-icon class="icon-settings"></md-icon>
		</a>
	</div>
	<div class="component-options" ng-show='optionsState'>
		<!-- TO DO: ENABLE AUTO-GENERATION -->
		 <md-checkbox ng-model="view.settings.particles.visible">Particles</md-checkbox>
		 <md-checkbox ng-model="view.settings.chromatin.visible">Chromatin</md-checkbox>
		 <md-checkbox ng-model="view.settings.contacts.visible">Contacts</md-checkbox>
	</div>
	<div class="component-body"></div>
</div>