<md-dialog md-theme="default" aria-label="Import Data">
	<md-toolbar>
		<div class="md-toolbar-tools">
		<h2 class="md-flex">Import {{func}}</h2>
		</div>
	</md-toolbar>
  	<md-dialog-content class="md-default-theme">
		<section>
			<div ng-show="fileData && func=='3D coordinates'">
				<h3>File: {{fileTitle}}</h3>
				Use the checkboxes to indicate which columns are to be imported. Only the fist 10 rows are shown.
				<section>
					<h4>Notes:</h4>
					<ul>
						<li>The imported coordinates should be contained in the current dataset region</li>
						<li>First selected columm must be the chromosome name</li>
						<li>Second selected columm must be the genomic position</li>
						<li>Third, fourth anf fifth selected columms correspond to x, y and z coordinates</li>
					</ul>
				</section>
			</div>
			<div ng-show="fileData && func=='Hic matrix'">
				<h3>File: {{fileTitle}}</h3>
				Use the checkboxes to indicate which columns are to be imported. Only the fist 5 rows are shown.
				<section>
					<h4>Notes:</h4>
					<ul>
						<li>The imported matrix should be contained in the current dataset region and match its resolution: {{resolution}}.</li>
						<li>First selected columm must be the first interacting bin i</li>
						<li>Second selected columm must be the second interacting bin j</li>
						<li>Third selected columm correspond to the frequency of interaction</li>
					</ul>
				</section>
			</div>
			<div ng-hide="fileData">
				Select a file with tabular data to load.<br/>
				The raw file data will be shown here to review before importing.
			</div>
			<table class="filedata" ng-show="fileData">
				<tbody>
					<tr><td valign="top"><b>Skip top rows:</b></td>
						<td>
					      <md-input-container style="width: 100px;">
					        <input flex type="number" ng-model="skipRows" aria-label="blue" aria-controls="blue-slider-import">
					      </md-input-container>
					    </td>
					    <td valign="top" ng-show="fileData && func=='3D coordinates'"><b>Base-pair per nanometer:</b></td>
						<td ng-show="fileData && func=='3D coordinates'">
					      <md-input-container style="width: 100px;">
					        <input flex type="number" step="0.01" ng-model="bp_per_nm" aria-label="blue" aria-controls="blue-slider-import">
					      </md-input-container>
					    </td>
					    <td valign="top" ng-show="fileData && func=='Hic matrix'"><b>Genomic region of bin 0:</b></td>
						<td ng-show="fileData && func=='Hic matrix'">
					      <md-input-container style="width: 100px;">
					        <input flex type="number" step="{{resolution}}" ng-model="first_bin" aria-label="blue" aria-controls="blue-slider-import">
					      </md-input-container>
					    </td>
					</tr>
				</tbody>
			</table>
			<table class="filedata" ng-show="fileData">
				<tbody>
					<tr>
						<td></td>
						<td ng-repeat="selectCol in selectedCols track by $index">
							<md-checkbox ng-model="selectedCols[$index]" class="md-primary" aria-label="Data Column Selection Checkbox"></md-checkbox>
						</td>
					</tr>
					<tr ng-repeat="row in fileData|limitTo:5">
						<td></td>
						<td ng-repeat="col in row track by $index">{{col}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</md-dialog-content>
	<md-dialog-actions>		
		<md-input-container layout-padding ng-hide="fileData">
			<input class="ng-show" id="file-input" aria-label="File input" type="file" tk-data-import="parseFile($fileContent)" filetitle="fileTitle" />
		</md-input-container>
		<span flex></span>
		<!-- type=button is needed so form uses submit button -->
		<md-button type=button ng-click="cancel()" class="md-raised md-primary">Cancel</md-button>
		<md-button ng-show="fileData" type="submit" ng-click="importData(fileData)" class="md-raised md-primary">Import Data</md-button>
	</md-dialog-actions>
</md-dialog>