<md-content id="home" flex class="loader fullheight">
	<div tk-component-scene-floatingtad class="floatingtad"></div>
 	<div layout="column">
		<h2 class="tadkit-title">
			<img alt="TADkit" src="assets/img/tadkit-logo-invert.png" />
		</h2>
		<h3>3D genome browser <br class="hide-for-small">and TADbit front-end.</h3>
	</div>
	<div layout="column" layout-align="center center" md-theme="darkKit">
 		<div tk-project-dropzone="addDataset">
				<md-icon class="icon-file-upload"></md-icon>
				Drop a TADbit JSON file here...
		</div>
		<md-button ui-sref="browser" class="md-raised md-accent" md-theme="darkKit">
				<md-icon class="icon-open-in-browser"></md-icon>
				Browse sample TADbit data
		</md-button>
	</div>
</md-content>