<div layout="column" class="fullheight">
	<div ui-view="topbar"></div>
	<section layout="row" flex class="fullheight">
		<md-sidenav id="sidebar-left" ui-view="sidebar-left" layout-padding class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="{{ settings.isProject ? '$mdMedia(\'gt-md\')' : 'closed'}}"></md-sidenav>
		<md-content id="main-content" ui-view="content" flex class="fullheight"></md-content>
		<md-sidenav id="sidebar-right" ui-view="sidebar-right" layout-padding class="md-sidenav-right md-whiteframe-z2" md-component-id="right"></md-sidenav>
	</section>
	<section class="modal">
		<md-content  ui-view="modal" class="" md-component-id=""></md-content>
	</section>
</div>