<md-content id="home" flex class="loader fullheight">
	<div tk-component-scene-floatingtad class="floatingtad"></div>
	<div layout="column">
		<h2 class="tadkit-title">
			<img alt="TADkit" src="assets/img/tadkit-logo-invert.png" />
		</h2>
		<h3>3D genome browser <br class="hide-for-small">and TADbit front-end.</h3>
	</div>
	<div layout="column" layout-align="center center" md-theme="darkKit">
 		
 		<div tk-project-dropzone="addDataset" style="height: 100px;width: 300px;overflow: hidden;">
				<md-button style="position: relative;top: -10px;left: -10px;">
					<label for="file-input">
						<md-icon class="icon-file-upload"></md-icon>
					
				Drop a TADbit JSON file here<br>   or click to select...
					</label>
				</md-button>
				<input style="opacity: 0; filter:alpha(opacity=0);  position: relative; ; height: 100%;top: -90px;" aria-label="File input" id="file-input" type="file" accept=".json" tk-project-loader="addDataset($fileContent)" />
		</div>
		<!-- <md-button class="md-raised md-primary" ng-click="openInput(); $event.stopPropagation();">
			<label for="file-input">
				<md-icon class="icon-file-upload"></md-icon>
				Select TADbit JSON file to import...
			</label>
		</md-button>
		-->
		<md-input-container>
			<!-- <span style="color: white;">... or select TADbit JSON file</span>-->
			
		</md-input-container>
		
		<md-button class="md-raised md-accent" md-theme="darkKit" ng-click="cleanDataset($event)">
				<md-icon class="icon-open-in-browser"></md-icon>
				Browse sample TADbit data
		</md-button>
	</div>
	<md-sidenav  ui-view="sidebaruser" class="md-sidenav-right md-whiteframe-z2" md-component-id="right"></md-sidenav>
</md-content>