<div id="settings" class="controls">
	<md-button id="bt-closeLeftSidenav" class="md-fab md-mini md-primary" ng-click="toggleLeft()" aria-label="Show menu">
      <md-icon style="color: #FFF;" class="icon-keyboard-arrow-left"></md-icon>
    </md-button>
    
	<md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">Settings</md-subheader>
        <md-list-item ng-click="showDatasetSettings($event)">
            <h4>Dataset Settings</h4>
        </md-list-item>
        <md-divider ></md-divider>
		<md-subheader class="md-no-sticky">Import</md-subheader>
		<md-list-item ui-sref="dataset-import({func: 'dataset'})">
            <h4>Dataset</h4>
        </md-list-item>
        <md-list-item ng-click="showAddTrack($event)">
            <h4>Track</h4>
        </md-list-item>
        <md-list-item ui-sref="data-import({func: 'Hic matrix'})">
            <h4>HiC matrix</h4>
        </md-list-item>
		<md-list-item ui-sref="data-import({func: '3D coordinates'})">
            <h4>3D Coordinates</h4>
        </md-list-item>
        <md-divider ></md-divider>
		<md-subheader class="md-no-sticky">Data Mining</md-subheader>
		<md-list-item ui-sref="data-mining({func: 'Features by bin'})">
            <h4>Features by bin</h4>
        </md-list-item>
        <md-list-item ui-sref="data-mining({func: 'Interacting features'})">
            <h4>Interacting features</h4>
        </md-list-item>
    </md-list>
 
    
    <script type="text/ng-template" id="dialog1.tmpl.html">
		<md-dialog md-theme="default" aria-label="Dataset Settings">
		<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>Dataset Settings</h2>
		        <span flex></span>
		        
		      </div>
		    </md-toolbar>
			<md-dialog-content class="md-default-theme">
				<div class="component-caption" layout="column" layout-align="left center">
						<h3>{{data.object.title}}</h3><table>
							<tr><td valign="top"><b>Species:</b></td><td>{{data.object.species}}</td></tr>
							<tr><td valign="top"><b>Chromosomes:</b></td><td>
							<span ng-repeat="chrom in data.object.chrom">
							  <input
							    type="checkbox"
							    name="selectedChroms[]"
							    value="{{chrom}}"
							    ng-checked="settings.current.chromosomeIndexes.indexOf(chrom) > -1"
							    ng-click="toggleSelection(chrom)"
							  ><label ng-click="toggleSelection(chrom)">{{chrom}}</label>
							</span></td></tr>
							<tr><td valign="top"><b>Region:</b></td><td>{{data.object.region}}</td></tr>
							<tr><td valign="top"><b>UUID:</b></td><td>{{data.object.uuid}}</td></tr>
							<tr><td valign="top"><b>Resolution:</b></td><td>{{data.object.resolution}}</td></tr>
							<tr><td valign="top"><b>Bins:</b></td><td>{{(data.data.length/3)}}</td></tr>
							<tr><td valign="top"><b>Chromatin radius:</b></td><td> 5 nm</td></tr>
							<tr><td valign="top"><b>Chromatin radius scale:</b></td>
								<td>
								<md-slider-container layout="row">
							      <md-slider flex min="1" max="100" ng-model="data.object.radius_scale" aria-label="blue" id="blue-slider">
							      </md-slider>
							      <md-input-container style="width: 20%">
							        <input flex type="number" ng-model="data.object.radius_scale" aria-label="blue" aria-controls="blue-slider">
							      </md-input-container>
							    </md-slider-container>
								</td>
							</tr>
						</table>
					</div>
				</md-dialog-content>
			<md-dialog-actions><md-button ng-click="closeDialog();" class="md-raised md-primary">Close</md-button></md-dialog-actions>
		</md-dialog>
	</script>

	<script type="text/ng-template" id="dialog2.tmpl.html">
		<md-dialog md-theme="default" aria-label="Add Track">
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>Add Track</h2>
	        <span flex></span>     
	      </div>
		</md-toolbar>
			<md-dialog-content class="md-default-theme">
				<div class="component-caption" layout="column" layout-align="left center">
					<md-input-container>
						<input required type="text" flex ng-model="filePath" aria-label="File input"/>
					</md-input-container>		
				</div>
			</md-dialog-content>
			<md-dialog-actions>		
				<md-button type=button ng-click="closeDialog()" class="md-raised md-primary">Cancel</md-button>
				<md-button type=button class="md-raised md-primary" ng-click="addTrack()">Add Track</md-button>
			</md-dialog-actions>
		</md-dialog>
	</script>
</div>