 <md-toolbar layout="row" layout-align="space-around center">
	 <div class="md-toolbar-tools">
		<h1 style="margin-right:30px !important">
			<img class="logo-vre" src="https://vre.multiscalegenomics.eu/assets/layouts/layout/img/logo.png">
			<a ui-sref="loader" ui-sref-opts="{inherit: false}">
				<img alt="TADkit" src="assets/img/tadkit-logo-invert.png" width="100" height="32" style="margin-bottom:5px;" />
				<!-- <img alt="TADkit" src="assets/img/tadkit-logo-invert.png" width="100" height="32"/>  --> 
			</a>
		</h1>
		<md-tabs ng-show="$state.includes('home_temp_hidden')">
			<md-tab label="About" ui-sref="home#about"></md-tab>
			<md-tab label="Usage" ui-sref="home#usage"></md-tab>
		</md-tabs>
		<span layout-padding>
			<md-button layout="row" ui-sref="dataset" aria-label="Select Cluster" class="md-icon-button md-accent" ng-show="$state.includes('browser')">
				<md-icon style="color: #FFF;" class="icon-view-module"></md-icon>
				<md-icon style="color: #FFF;" class="icon-keyboard-arrow-left"></md-icon>
			</md-button>
			<md-button layout="row" ui-sref="browser" aria-label="View Selected Cluster in Browser" class="md-icon-button md-accent" ng-show="$state.includes('dataset')">
				<md-icon style="color: #FFF;" class="icon-view-carousel"></md-icon>
				<md-icon style="color: #FFF;" class="icon-keyboard-arrow-right"></md-icon>
			</md-button>
			<span ng-show="$state.includes('hide_temp_all')">{{projects.loaded[projects.current.index].object.title}} :</span>
		</span>
		<div layout-padding id="infobox" class="tk-component-panel-infobox" ng-hide="$state.includes('loader')"></div>
		<span flex=""></span>
		<!-- Main menu -->
		<md-button ng-show="$state.includes('browser')" id="bt-openLeftSidenav" class="md-fab md-mini md-primary" ng-click="toggleLeft()" aria-label="Show menu">
	      <md-icon style="color: #FFF;" class="icon-keyboard-arrow-right"></md-icon>
	    </md-button>
	
               


     	<!-- Home Icons -->
		<!--<md-button ng-click="toggleRight()" aria-label="Open User panel" class="md-icon-button md-accent" ng-show="$state.includes('home')"><md-icon class="icon-perm-identity"></md-icon></md-button>-->
		<!-- Project Icons -->
		<!-- <md-button ng-click="toggleRight()" aria-label="Open User panel" class="md-icon-button md-accent" ng-show="$state.includes('dataset')"><md-icon class="icon-perm-identity"></md-icon></md-button>
		<md-button ui-sref="project" aria-label="Add Project" class="md-icon-button md-accent" ng-show="$state.includes('dataset')"><md-icon class="icon-add"></md-icon></md-button> -->
		<!-- Browser Icons -->
		<!--md-button ui-sref="overlay-acquire" aria-label="Add Track" class="md-icon-button md-accent" ng-show="$state.includes('browser')"><md-icon class="icon-add"></md-icon></md-button
		<md-button ui-sref="overlay-import" aria-label="Add Tracks" class="md-icon-button md-accent" ng-show="$state.includes('browser')">
			<md-icon class="icon-add"></md-icon>
			Add Tracks
		</md-button>
		-->
		<!--  
		<md-input-container layout-padding aria-label="Search for Genome coordinates" class="md-icon-float md-icon-button md-accent" ng-show="$state.includes('browser')">
			<md-icon class="icon-search"></md-icon>
			<input ng-model="settings.current.position" />
		</md-input-container>
		-->
		<!--md-button ui-sref-active="active-sidebar" aria-label="Open Settings panel" class="md-icon-button md-accent" ng-show="$state.includes('browser')">
			<md-icon class="icon-settings"></md-icon>
		</md-button-->
	</div>
</md-toolbar>